.navbar strong {
    color: #A97125;
}

.navbar a {
    color: black;
}

.dropdown-toggle::after{
    content: none;
}

.nav-item {
    font-size: 1.25em;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: #A97125;
}

.navbar-nav{
    margin-left:30px;
}