#officeCreation{
    width:100%;
    background-color: gray;
}

#officeCreationSizing{
    width:750px;
    height: 750px;
}

.column{
    background-color: white;
}

.line{
    margin: 0px !important;
    width: 750px !important;
}

.occupied{
    background-image: url("/img/imgBureau.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.borderLeft{
    border-left-style: solid;
    border-left-color: black;
}

.borderTop{
    border-top-style: solid;
    border-top-color: black;
}

.borderRight{
    border-right-style: solid;
    border-right-color: black;
}

.borderBottom{
    border-bottom-style: solid;
    border-bottom-color: black;
}

.rotate{
    transform: rotate(90deg);
}