<div class="row">
    <div class="pageTitle"><h2>{{"equipment.title.creation" | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{"application.creationCriteria" | translate}}</h5></div>
</div>
<form name="equipmentCreation.createForm">
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">
                <input type="text" id="name" name="name" ng-model="equipmentCreation.name" class="form-control" required="">
                <label for="name">{{'equipment.creationCriteria.name' | translate}}</label>
            </div>
        </div>
    </div>
    <div class="row submit">
        <button type="submit" ng-click="equipmentCreation.create()" class="btn">{{'application.creationButton' | translate}}</button>
    </div>
</form>