    <div class="row">
        <div id="loginCard" class="col-md-4">
            <form autocomplete="off" role="form" ng-submit="login.login()">

                <div class="card">
                    <div class="card-block">

                        <div class="text-center">
                            <h3>{{'user.login.title' | translate}}</h3>
                            <hr class="mt-2 mb-2">
                        </div>

                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="username" name="username" ng-model="login.credentials.username" class="form-control" required>
                            <label for="username">{{'user.login.username' | translate}}</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="password" name="password" ng-model="login.credentials.password" class="form-control" required>
                            <label for="password">{{'user.login.password' | translate}}</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn">{{'user.login.button' | translate}}</button>
                        </div>

                    </div>


                </div>
            </form>
        </div>
    </div>
