<div class="row">
    <div class="pageTitle"><h2>{{"office.title.creation" | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{"application.creationCriteria" | translate}}</h5></div>
</div>
<form name="officeCreation.createForm">
    <div class="row">
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"office.creationCriteria.building" | translate}}</label>
                            <md-select ng-model="officeCreation.buildingSelected" ng-init="officeCreation.getBuilding()" required="">
                                <md-option ng-value="building" ng-repeat="building in officeCreation.buildings">{{building.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"office.creationCriteria.plan" | translate}}</label>
                            <md-select ng-change="officeCreation.planSelection()" ng-model="officeCreation.planSelected" ng-init="officeCreation.getPlan()" required="">
                                <md-option ng-show="plan.desks.length == 0" ng-value="plan" ng-repeat="plan in officeCreation.buildingSelected.plans">{{plan.name}}-{{plan.date_version | date:'dd-MM-yyyy'}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div ng-show="officeCreation.planSelected != null" id="officeCreationSizing" class="row">
        <div ng-click="officeCreation.matrixClicked()" id="officeCreation" style="height : {{100*officeCreation.planSelected.length/officeCreation.planSelected.width}}%">
            <div name="{{line.index}}" class="row line" ng-repeat="line in officeCreation.matrice.lines">
                <span ng-class="{occupied : column.occupied, borderLeft: column.index == 0, borderTop: line.index == 0, borderRight: column.index == line.columns.length-1, borderBottom: line.index == officeCreation.matrice.lines.length-1}" name="{{column.index}}" class="column" ng-repeat="column in line.columns" style="width: {{column.size*750/officeCreation.planSelected.width}}px; height: {{column.size*750/officeCreation.planSelected.width}}px;">

                </span>
            </div>
        </div>
    </div>
    <div ng-show="officeCreation.planSelected != null" class="row submit">
        <!--<button type="submit" class="btn">{{'office.creationCriteria.addOffice' | translate}}</button>-->
        <button type="submit" ng-click="officeCreation.save()" class="btn">{{'application.creationButton' | translate}}</button>
    </div>
</form>