<div class="row">
    <div class="pageTitle"><h2>{{"office.title.assignment" | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{"application.searchCriteria" | translate}}</h5></div>
</div>
<form name="officeAssignment.searchForm">
    <div class="row">
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"office.searchCriteria.building" | translate}}</label>
                            <md-select ng-model="officeAssignment.buildingSelected" ng-init="officeAssignment.getBuilding()" required="">
                                <md-option ng-value="building" ng-repeat="building in officeAssignment.buildings">{{building.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"office.searchCriteria.plan" | translate}}</label>
                            <md-select ng-change="officeAssignment.planSelection()" ng-model="officeAssignment.planSelected" ng-init="officeAssignment.getPlan()" required="">
                                <md-option ng-show="plan.desks.length != 0" ng-value="plan" ng-repeat="plan in officeAssignment.buildingSelected.plans">{{plan.name}}-{{plan.date_version | date:'dd-MM-yyyy'}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div ng-show="officeAssignment.planSelected != null" id="officeAssignmentSizing" class="row">
        <div ng-click="officeAssignment.matrixClicked()" id="officeAssignment" style="height : {{100*officeAssignment.planSelected.length/officeAssignment.planSelected.width}}%">
            <div name="{{line.index}}" class="row line" ng-repeat="line in officeAssignment.matrice.lines">
                <span ng-class="{occupied : column.occupied, borderLeft: column.index == 0, borderTop: line.index == 0, borderRight: column.index == line.columns.length-1, borderBottom: line.index == officeAssignment.matrice.lines.length-1}" name="{{column.index}}" class="column" ng-repeat="column in line.columns" style="width: {{column.size*750/officeAssignment.planSelected.width}}px; height: {{column.size*750/officeAssignment.planSelected.width}}px;">

                </span>
            </div>
        </div>
    </div>
    <div ng-show="officeAssignment.planSelected != null" class="row submit">
        <button type="submit" ng-click="officeAssignment.save()" class="btn">{{'application.creationButton' | translate}}</button>
    </div>
</form>



<!-- Modal -->
<div class="modal fade right" id="officeAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">{{'office.createCriteria.assignment' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div ng-show="officeAssignment.deskSelected.employee == null" class="col-md-3">
                    <md-card>
                        <md-card-content>
                            <div layout="row">
                                <md-input-container>
                                    <label>{{'office.searchCriteria.user' | translate}}</label>
                                    <md-select ng-model="officeAssignment.userSelected" ng-init="officeAssignment.getUser()" ng-required="officeAssignment.equipmentSelected == null">
                                        <md-option ng-hide="user.desk != null || user.startDate > officeAssignment.planSelected.date_version" ng-value="user" ng-repeat="user in officeAssignment.users">{{user.firstName}} {{user.lastName}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div ng-show="officeAssignment.deskSelected.employee != null" class="col-md-3">
                    <label>{{officeAssignment.deskSelected.employee.firstName}} {{officeAssignment.deskSelected.employee.lastName}}</label>
                </div>
                <div ng-show="officeAssignment.deskSelected.equipment == null" class="col-md-3">
                    <md-card>
                        <md-card-content>
                            <div layout="row">
                                <md-input-container>
                                    <label>{{'office.searchCriteria.equipment' | translate}}</label>
                                    <md-select ng-model="officeAssignment.equipmentSelected" ng-init="officeAssignment.getEquipment()" ng-required="officeAssignment.userSelected">
                                        <md-option ng-hide="equipment.desk != null" ng-value="equipment" ng-repeat="equipment in officeAssignment.equipments">{{equipment.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <div ng-show="officeAssignment.deskSelected.equipment != null" class="col-md-3">
                    <label>{{officeAssignment.deskSelected.equipment.name}}</label>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="row submit">
                    <button ng-show="officeAssignment.deskSelected.equipment == null || officeAssignment.deskSelected.employee == null" type="submit" ng-click="officeAssignment.save()" class="btn">{{'application.assignmentButton' | translate}}</button>
                    <button  ng-show="officeAssignment.deskSelected.equipment != null" type="submit" ng-click="officeAssignment.deleteEquipment()" class="btn">{{'office.deleteEquipment' | translate}}</button>
                    <button  ng-show="officeAssignment.deskSelected.employee != null" type="submit" ng-click="officeAssignment.deleteEmployee()" class="btn">{{'office.deleteEmployee' | translate}}</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>



