<div class="row">
    <div class="pageTitle"><h2>{{"office.title.change" | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{"application.searchCriteria" | translate}}</h5></div>
</div>
<form name="officeSearch.searchForm">
    <div class="row">
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"office.changeCriteria.building" | translate}}</label>
                            <md-select ng-model="officeChange.buildingSelected" ng-init="officeChange.getBuilding()" required="">
                                <md-option ng-value="building" ng-repeat="building in officeChange.buildings">{{building.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"office.changeCriteria.plan" | translate}}</label>
                            <md-select ng-change="officeChange.planSelection()" ng-model="officeChange.planSelected" ng-init="officeChange.getPlan()" required="">
                                <md-option ng-show="plan.desks.length != 0" ng-value="plan" ng-repeat="plan in officeChange.buildingSelected.plans">{{plan.name}}-{{plan.date_version | date:'dd-MM-yyyy'}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</form>
<div ng-show="officeChange.planSelected != null" id="officeChangeSizing" class="row">
    <div ng-click="officeChange.matrixClicked()" id="officeChange" style="height : {{100*officeChange.planSelected.length/officeChange.planSelected.width}}%">
        <div name="{{line.index}}" class="row line" ng-repeat="line in officeChange.matrice.lines">
            <span ng-class="{occupied : column.occupied, borderLeft: column.index == 0, borderTop: line.index == 0, borderRight: column.index == line.columns.length-1, borderBottom: line.index == officeChange.matrice.lines.length-1}" name="{{column.index}}" class="column" ng-repeat="column in line.columns" style="width: {{column.size*750/officeChange.planSelected.width}}px; height: {{column.size*750/officeChange.planSelected.width}}px;">

            </span>
        </div>
    </div>
</div>
<div ng-show="officeChange.planSelected != null" class="row submit">
        <!--<button type="submit" class="btn">{{'office.creationCriteria.addOffice' | translate}}</button>-->
    <button type="submit" ng-click="officeChange.save()" class="btn">{{'application.creationButton' | translate}}</button>
</div>
