<div class="row">
    <div class="pageTitle"><h2>{{"plan.title.creation" | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{"application.creationCriteria" | translate}}</h5></div>
</div>
<form name="planCreation.createForm">
    <div class="row">
        <div class="col-md-3">
            <md-card>
                <md-card-content>
                    <div layout="row">
                        <md-input-container>
                            <label>{{"plan.creationCriteria.building" | translate}}</label>
                            <md-select ng-model="planCreation.buildingSelected" ng-init="planCreation.getBuilding()" required="">
                                <md-option ng-value="building" ng-repeat="building in planCreation.buildings">{{building.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-3">
            <div class="md-form">
            <input type="text" id="name" name="name" ng-model="planCreation.name" class="form-control" required="">
            <label for="name">{{'plan.creationCriteria.name' | translate}}</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="md-form">

            <input type="text" id="version" name="version" ng-model="planCreation.version" class="form-control" required="">
            <label for="version">{{'plan.creationCriteria.version' | translate}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">

            <input type="text" id="length" name="length" ng-model="planCreation.length" class="form-control" required="">
            <label for="length">{{'plan.creationCriteria.width' | translate}}</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="md-form">
            <input type="text" id="width" name="width" ng-model="planCreation.width" class="form-control" required="">
            <label for="width">{{'plan.creationCriteria.length' | translate}}</label>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">

                <md-datepicker id="date" class="form-control" required="" name="date" ng-model="planCreation.date" md-placeholder="Enter date"></md-datepicker>
                <label for="date">{{'plan.creationCriteria.date' | translate}}</label>
            </div>
        </div>

    </div>
    <div class="row submit">
        <button type="submit" ng-click="planCreation.createPlan()" class="btn">{{'application.creationButton' | translate}}</button>
    </div>
</form>