<div class="row">
    <div class="pageTitle"><h2>{{"user.title.creation" | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{"application.creationCriteria" | translate}}</h5></div>
</div>
<form name="userCreation.createForm">
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">
                <input type="text" id="firstName" name="firstName" ng-model="userCreation.firstName" class="form-control" required="">
                <label for="firstName">{{'user.creationCriteria.firstName' | translate}}</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="md-form">

                <input type="text" id="lastName" name="lastName" ng-model="userCreation.lastName" class="form-control" required="">
                <label for="lastName">{{'user.creationCriteria.lastName' | translate}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">

                <md-datepicker id="date" class="form-control" name="date" ng-model="userCreation.date" md-placeholder="Enter date"></md-datepicker>
                <label for="date">{{'user.creationCriteria.date' | translate}}</label>
            </div>
        </div>
    </div>
    <div class="row submit">
        <button type="submit" ng-click="userCreation.create()" class="btn">{{'application.creationButton' | translate}}</button>
    </div>
</form>