<!doctype html>
<html ng-app="stpApp">
    <head>
        <title>{{'application.title' | translate}}</title>
        

    </head>

    <body>
    <nav class="navbar navbar-toggleable-md">
        <span class="navbar-brand waves-effect waves-light">
            <strong>{{'application.title' | translate}}</strong>
        </span>
        <ul class="navbar-nav">
            <li ng-show="authenticated" class="nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.building' | translate}}</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" ui-sref="buildingCreation">{{"building.title.creation" | translate}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li ng-show="authenticated" class="nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.plan' | translate}}</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" ui-sref="planSearch">{{"plan.title.search" | translate}}</a>
                    <a class="dropdown-item" ui-sref="planCreation">{{"plan.title.creation" | translate}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li ng-show="authenticated" class="nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.office' | translate}}</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" ui-sref="officeCreation">{{"office.title.creation" | translate}}</a>
                    <a class="dropdown-item" ui-sref="officeAssignment">{{"office.title.assignment" | translate}}</a>
                    <a class="dropdown-item" ui-sref="officeChange">{{"office.title.change" | translate}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li ng-show="authenticated" class="nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.user' | translate}}</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" ui-sref="userCreation">{{"user.title.creation" | translate}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li ng-show="authenticated" class="nav-item">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.equipment' | translate}}</a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" ui-sref="equipmentCreation">{{"equipment.title.creation" | translate}}</a>
                </div>
            </li>
        </ul>
            <a ng-show="!authenticated" class="nav-link waves-effect waves-light" ui-sref="login">
                <strong>{{'application.login' | translate}}</strong>
            </a>
            <a ng-show="authenticated" ng-controller="indexCtrl" class="nav-link waves-effect waves-light" ng-click="logout()">
                <strong>{{'application.logout' | translate}}</strong>
            </a>
    </nav>
        <div class="container">
            <toast></toast>
            <div ui-view=""></div>
        </div>

        <!-- bower:js -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular-translate/angular-translate.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/ngToast/dist/ngToast.js"></script>
        <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="/bower_components/MDBootstrap/js/mdb.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <!-- endbower -->

        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast.css" />
        <link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast-animations.css" />
        <link rel="stylesheet" href="/bower_components/MDBootstrap/css/mdb.min.css" />
        <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
        <!-- endbower -->

        <!-- inject:js -->
        <script src="/js/index.js"></script>
        <script src="/js/config/ngToast.config.js"></script>
        <script src="/js/config/route.config.js"></script>
        <script src="/js/config/translate.config.js"></script>
        <script src="/js/controller/buildingCreation.controller.js"></script>
        <script src="/js/controller/equipmentCreation.controller.js"></script>
        <script src="/js/controller/home.controller.js"></script>
        <script src="/js/controller/login.controller.js"></script>
        <script src="/js/controller/officeAssignment.controller.js"></script>
        <script src="/js/controller/officeChange.controller.js"></script>
        <script src="/js/controller/officeCreation.controller.js"></script>
        <script src="/js/controller/planCreation.controller.js"></script>
        <script src="/js/controller/planSearch.controller.js"></script>
        <script src="/js/controller/userCreation.controller.js"></script>
        <script src="/js/service/building.service.js"></script>
        <script src="/js/service/equipment.service.js"></script>
        <script src="/js/service/office.service.js"></script>
        <script src="/js/service/plan.service.js"></script>
        <script src="/js/service/user.service.js"></script>
        <script src="/js/lib/angular.min.js"></script>
        <!-- endinject -->

        <!-- inject:css -->
        <link rel="stylesheet" href="/css/colMd.css">
        <link rel="stylesheet" href="/css/loginCard.css">
        <link rel="stylesheet" href="/css/mdCard.css">
        <link rel="stylesheet" href="/css/mdDatepicker.css">
        <link rel="stylesheet" href="/css/modalTopRight.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/ngToast.css">
        <link rel="stylesheet" href="/css/officeCreation.css">
        <link rel="stylesheet" href="/css/pageTitle.css">
        <link rel="stylesheet" href="/css/row.css">
        <link rel="stylesheet" href="/css/select.css">
        <link rel="stylesheet" href="/css/submit.css">
        <link rel="stylesheet" href="/css/thead.css">
        <!-- endinject -->


    </body>
</html>